name: Terraform Plan

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  terraform:
    name: 'Terraform Plan'
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2
      with:
        terraform_version: 1.3.7

    - name: Initialize Terraform
      run: terraform init
      working-directory: ./terraform-infra

    - name: Validate Terraform
      run: terraform validate
      working-directory: ./terraform-infra

    - name: Terraform Plan
      env:
        TF_VAR_my_variable: ${{ secrets.MY_VARIABLE }}
      run: terraform plan -out=plan.out
      working-directory: ./terraform-infra

    - name: Upload Plan file
      uses: actions/upload-artifact@v2
      with:
        name: terraform-plan
        path: ./terraform-infra/plan.out
